data/corpus/*
!data/corpus/.keep

data/hongdae/*
!data/hongdae/.keep

data/pickle/*
!data/pickle/.keep


data/dataset/*
data/backup/*
data/instagram/*
data/temp/*

model/rec_checkpoint/*

csv/*
!csv/.keep

svg/*
!svg/.keep

embedding/*
!embedding/.keep

download/*
!download/.keep
result/*

!result/.keep


evaluation/pretrain/*
!evaluation/pretrain/.keep
evaluation/imgseq/*
!evaluation/imgseq/.keep
evaluation/multimodal/*
!evaluation/multimodal/.keep

checkpoint/*
dependency/*
