data/corpus/*
!data/corpus/.keep

data/hongdae/*
!data/hongdae/.keep

data/pickle/*
!data/pickle/.keep


data/dataset/*
data/backup/*
data/instagram/*
data/temp/*

model/rec_checkpoint/*

csv/*
!csv/.keep

embedding/*
!embedding/.keep


dependency/*
