
#title {
	text-align: center;
}


.inline{
	display: inline;
	text-align: right;
}

.mbtn{
	margin: 3px;
}

#ta_ontology{
	width: 100%;
	height: 100%;
	font-size: 20pt;
}

.split {
  height: 85%;
  position: fixed !important;
  z-index: 1;
  top: 120px;
  overflow-x: hidden;
}
/* Control the left side */
.left {
  left: 0;
  width: 40%;
}

/* Control the right side */
.right {
  right: 0;
  width: 60%;
}

.chart { margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; }
.node { cursor: pointer; color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; }
.node:active { 
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.1); 
	margin: 1px 0 0 1px; 
	border: 2px solid #D3D3CB;
	background-color:yellow;
}
.node p { font-size: 20px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 5; }
